<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87191973761-nndahklk469gd0dsjd63av2g53e0b6hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87191973761-nndahklk469gd0dsjd63av2g53e0b6hs</string>
	<key>API_KEY</key>
	<string>AIzaSyAkurJXIxXfeh7IduKJ0uKiUhzAKT5LeC4</string>
	<key>GCM_SENDER_ID</key>
	<string>87191973761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AppFBO</string>
	<key>PROJECT_ID</key>
	<string>apparticulos</string>
	<key>STORAGE_BUCKET</key>
	<string>apparticulos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87191973761:ios:df227115190066717ec280</string>
</dict>
</plist>